@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  -webkit-user-select: text;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.export {
  position: relative;
  .derive {
    position: absolute;
    right: 0px;
    top: -45px;
    z-index: 1000;
    width: 150px;
    .warp {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      li {
        display: inline-block;
        width: 60px;
        height: 25px;
        line-height: 25px;
        color: #b7b9c1;
        font-size: 14px;
        border: 1px solid #ebeef5;
        &:hover {
          background-color: #b7b9c1;
          color: #fff;
        }
      }
    }
  }
}